<div class="text-center headerBackground">
	<img class="mainHeader"src="../assets/images/footballWorld.png"/>
</div>
<br>
<div class="row text-center">
  <div class="col-md-2 col-md-offset-1"><a routerLink="premierLeague"><img src="../assets/images/premierLeague.PNG" alt="premierLeague Logo"></a></div>
  <div class="col-md-2"><a routerLink="laLiga"><img src="../assets/images/laLiga.PNG" alt="LaLiga Logo"></a></div>
  <div class="col-md-2"><a routerLink="bundesliga"><img src="../assets/images/bundesliga.PNG" alt="bundesliga Logo"></a></div>
  <div class="col-md-2"><a routerLink="italianSeria"><img src="../assets/images/italianSeria.PNG" alt="italianSeria Logo"></a></div>
  <div class="col-md-2"><a routerLink="frenchLigue"><img src="../assets/images/frenchLeague.PNG" alt="frenchLigue Logo"></a></div>
</div>

<br>
<router-outlet></router-outlet>
