
<table class="table table-striped">
	<thead class="tableHeading">
		<tr>
			<th scope="col ">Position</th>
			<th scope="col">Team</th>	
			<th scope="col">Played</th>
			<th scope="col">Won</th>	
			<th scope="col">Draw</th>
			<th scope="col">Lost</th>
			<th scope="col">Goals Scored</th>
			<th scope="col">Goals Against</th>
			<th scope="col">Difference</th>
			<th scope="col">Points</th>
		</tr>
	</thead>
	<tbody class="tableBody ">
		<tr *ngFor= 'let team of tableFinal'>
			<td scope="col ">{{team.position}}</td>
			<td scope="col">{{team.team}}</td>
			<td scope="col">{{team.matchesPlayed}}</td>
			<td scope="col">{{team.won}}</td>
			<td scope="col">{{team.drawn}}</td>
			<td scope="col">{{team.lost}}</td>
			<td scope="col">{{team.goalScored}}</td>
			<td scope="col">{{team.goalAgainst}}</td>
			<td scope="col">{{team.goalDifference}}</td>
			<td scope="col">{{team.points}}</td>

		</tr>
	</tbody>
</table>